
<ng-template   #listCharacter>
  <div class="row" >
  <div *ngFor="let character of charactersList ;index as i" class="col-3">
    <div  class="card-group">
      <div  class="card bg-dark">
        <img [src]="character.image" class="card-img-top " [alt]="character.name">
        <div class="card-body text-white">
          <h5 class="card-title">{{character.name}}</h5>
          <ul class="list-group">

            <li>Especie: {{character.species}}</li>
            <li>Genero: {{character.gender}}</li>
            <li>Status: {{character.status}}</li>
            <li><a [routerLink]="['/characters/',character.id]" class="text-white">Ver mas..</a></li>
          </ul>
        </div>
      </div>

    </div>
    <br>
  </div>

</div>

</ng-template>



<div *ngIf="searchByCharacter.length > 0;else listCharacter" class="row">
  <div *ngFor="let character of searchByCharacter ; let i = index "  class="col-3">
    <div class="card text-center bg-dark">
      <img  [src]="character.image" class="card-img-top " alt="...">
      <div class="card-body text-white">
        <h5 class="card-title">{{character.name}}</h5>
          <ul>
            <li>Especie: {{character.species}}</li>
            <li>Genero: {{character.gender}}</li>
            <li>Status: {{character.status}}</li>
            <li><a [routerLink]="['/characters/',character.id]" class="text-white">Ver mas..</a></li>
          </ul>

      </div>
    </div>
    <br>
  </div>

</div>















